<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:tx="http://www.springframework.org/schema/tx"
	    xmlns:context="http://www.springframework.org/schema/context"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
                            http://www.springframework.org/schema/context 
                            http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	
        <bean  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 		 <property name="locations">
	 		 	<list>
	 		 		<value>classpath:jdbc.properties</value>
	 		 	</list>
	 		 </property>
	 	</bean>	 
	 	
	 	
	 		
	  	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  destroy-method="close" >
	  		<property name="driverClass" value="${jdbc.driverClass}"></property>
	  		<property name="jdbcUrl" value="${jdbc.url}"></property>
	  		<property name="user" value="${jdbc.username}"></property>
	  		<property name="password" value="${jdbc.password}"></property>
	  		<property name="acquireIncrement" value="${jdbc.dataSource.acquireIncrement}"></property>
	  		<property name="initialPoolSize" value="${jdbc.dataSource.initialPoolSize}"></property>
	  		<property name="maxPoolSize" value="${jdbc.dataSource.maxPoolSize}"></property>
	  		<property name="minPoolSize" value="${jdbc.dataSource.minPoolSize}"></property> 
	  		<!--  unit is second -->	
	  		<property name="maxIdleTime" value="${jdbc.dataSource.maxIdleTime}"></property>
	  		<property name="idleConnectionTestPeriod" value="${jdbc.dataSource.idleConnectionTestPeriod}"></property> 		
	  		<property name="preferredTestQuery" value="${jdbc.dataSource.preferredTestQuery}"></property>
	  		<!-- 
	  		<property name="automaticTestTable" value="${jdbc.dataSource.automaticTestTable}"></property>
	  		 -->
	  		<property name="testConnectionOnCheckout" value="${jdbc.dataSource.testConnectionOnCheckout}"></property>
	  		<property name="testConnectionOnCheckin" value="${jdbc.dataSource.testConnectionOnCheckin}"></property>
	  	</bean>	  	
	  	
	  	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  		<property name="dataSource" ref="dataSource"></property>
	  	</bean> 
  
  	   <tx:annotation-driven   transaction-manager="transactionManager"  proxy-target-class="true" />
     
</beans>